<%- include('partials/header'); -%>

<h1>Compose</h1>


<form action="/compose" method="post">
    <div class="form-group">
        <label">Title</label>
        <input type="text" class="form-control"  name="post_title">
        <label>Post</label>
        <textarea class="form-control" rows="7" cols="70"  name="post_content"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Compose</button>

</form>


<%- include('partials/footer'); -%>